.pizzas {
    width: 50%;
}

.pizzas td, .pizzas th {
    text-align: center;
}

table.order {
}

table.order .total {
    font-weight: bold;
    text-align: right;
}
table.order td {
    padding: 5px;
}

table.order .addition td:first-child {
    padding-left: 30px;
}

table.order .quantity td:first-child {
    text-align: right;
}

table.order tr td:last-child {
    text-align: right;
}