<!DOCTYPE html>
<html lang="ru-RU">
<meta charset="utf-8">
<title>Заказ пиццы</title>
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<link rel="stylesheet" href="css/bootstrap.min.css">
<body>

<div class="pizza-app">
    <table class="pizzas">
        <thead>
        <tr>
            <th></th>
            <th>Пицца</th>
            <th>Добавки</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody class="items"></tbody>
        <tfoot>
        <tr>
            <td><button class="add">Добавить пиццу</button></td>
            <td colspan="2"><button class="submit" disabled="disabled" autocomplete="off">Заказать</button></td>
            <td><b>Итого:</b> <span class="total"></span></td>
        </tr>
        </tfoot>
    </table>
</div>


<!-- Pizza template-->
<script type="text/template" id="item-template">
    <td><button class="remove">Удалить</button></td>
    <td>
        <select class="pizza">
            <option disabled <%if (!id) {%>selected<%}%>>Выберите пиццу</option>
            <%catalog.each(function(pizza){ %>
                <option <%if (id === pizza.id) {%>selected<%}%> value="<%=pizza.id%>"><%=pizza.get('name')%> | <%=pizza.get('price')%></option>
            <%}) %>
        </select>
    </td>
    <td>
        <%if (id){%>
            <%if (!catalog.getAdditions(id)){%>
                Добавок не предусмотрено
            <%} else {%>
                <select class="additions" multiple="multiple">
                    <option <%if (additions.length == 0) {%>selected<%}%>>Без добавок</option>
                    <%
                    _.each(catalog.getAdditions(id), function(item){%>
                    <option <%if (additions.pluck('id').indexOf(item.id) >= 0){%>selected="selected"<%}%> value="<%=item.id%>"><%=item.name%> | <%=item.price%></option>
                    <%});%>
                </select>
            <%}%>
        <%} else {%>
        -
        <%}%>
    </td>
    <td>
        <%if (id){%>
            <input class="quantity" type="number" min="1" value="<%=quantity%>">
        <%} else {%>
        -
        <%}%>
    </td>
    <td><%= id ? model.summ() : '-' %></td>
</script>

<!-- Order template-->
<script type="text/template" id="order-template">
    <table class="order table">
        <% order.each(function (pizza){%>
            <%if (pizza.id){%>
                <tr>
                    <td><%= pizza.get('name')%></td>
                    <td><%= pizza.summ()%></td>
                </tr>
                <% pizza.get('additions').each(function (addition){%>
                    <tr class="addition">
                        <td> - <%= addition.get('name')%></td>
                        <td><%= addition.get('price')%></td>
                    </tr>
                <%})%>
                <tr class="quantity">
                    <td>x<%= pizza.get('quantity')%></td>
                    <td><%= pizza.summ()%></td>
                </tr>
            <%}%>
        <%}) %>
        <tr><td class="total" colspan="2">Итого: <%= order.total()%></td></tr>
    </table>
</script>

<!-- Modal -->
<div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ваш заказ</h4>
            </div>
            <div class="modal-body">
                <div class="list"></div>
                <div class="file"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/app.js"></script>
</body>
</html>
